[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
web3 = "*"
requests = "*"
ipykernel = "*"
numpy = "*"
python-dotenv = "*"
discord = "*"
fastapi = {extras = ["all"], version = "*"}
beautifulsoup4 = "*"
selenium = "*"
webdriver-manager = "*"
redis = "*"
pymongo = {version = "==3.12.0", extras = ["srv"]}

[dev-packages]

[requires]
python_version = "3.7"