* * * * * root /app/shell-scripts/script.sh
55 * * * * root /app/shell-scripts/refresh_master.sh
* * * * * root /usr/bin/flock -n /tmp/punk_offerbook_events.lockfile /app/shell-scripts/event_master.sh
* * * * * root /usr/bin/flock -n /tmp/punk_offerbook_server.lockfile /app/shell-scripts/start_server.sh
# empty line 